<div class="row">
  <div class="col-12">
    <h1>Creación de una nueva empresa de transporte</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Nota: si se necesitan más datos de prueba (ciudades, tipos, etc.), en las
    secciones de abajo pueden emularse.
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <button
      type="button"
      class="btn btn-dark"
      data-toggle="collapse"
      data-target="#companyBody"
      (click)="reload()"
    >
      Crear nueva empresa de transporte
    </button>
    <div id="companyBody" class="collapse">
      <div class="row">
        <div class="col-12">
          <form [formGroup]="companyForm" novalidate="novalidate">
            <div class="md-form">
              <label for="identificationNumberInput"
                >Número del documento de identificación</label
              >
              <input
                type="text"
                id="identificationNumberInput"
                class="form-control"
                formControlName="identificationNumber"
                placeholder="Número del documento de identificación"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  identificationNumber.invalid &&
                  (identificationNumber.dirty || identificationNumber.touched)
                "
              >
                Campo requerido
              </div>
              <div
                class="valid-feedback"
                *ngIf="
                  identificationNumber.valid &&
                  (identificationNumber.dirty || identificationNumber.touched)
                "
              >
                Correcto
              </div>
            </div>
            <div class="md-form">
              <label for="fullNameInput">Nombre completo de la empresa</label>
              <input
                type="text"
                id="fullNameInput"
                class="form-control"
                formControlName="fullName"
                placeholder="Nombre completo de la empresa"
              />
              <div
                class="invalid-feedback"
                *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
              >
                Campo requerido
              </div>
              <div
                class="valid-feedback"
                *ngIf="fullName.valid && (fullName.dirty || fullName.touched)"
              >
                Correcto
              </div>
            </div>
            <div class="md-form">
              <label for="addressInput">Dirección de la empresa</label>
              <input
                type="text"
                id="addressInput"
                class="form-control"
                formControlName="address"
                placeholder="Dirección de la empresa"
              />
              <div
                class="invalid-feedback"
                *ngIf="address.invalid && (address.dirty || address.touched)"
              >
                Campo requerido
              </div>
              <div
                class="valid-feedback"
                *ngIf="address.valid && (address.dirty || address.touched)"
              >
                Correcto
              </div>
            </div>
            <div class="md-form">
              <label for="phoneNumberInput">Teléfono de la empresa</label>
              <input
                type="text"
                id="phoneNumberInput"
                class="form-control"
                formControlName="phoneNumber"
                placeholder="Teléfono de la empresa"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  phoneNumber.invalid &&
                  (phoneNumber.dirty || phoneNumber.touched)
                "
              >
                Campo requerido
              </div>
              <div
                class="valid-feedback"
                *ngIf="
                  phoneNumber.valid &&
                  (phoneNumber.dirty || phoneNumber.touched)
                "
              >
                Correcto
              </div>
            </div>
            <div
              class="spinner-border"
              *ngIf="loadingPrevious"
              role="status"
            ></div>
            <div class="md-form" *ngIf="!loadingPrevious">
              <label for="identificationTypeInput"
                >Tipo de identificación</label
              >
              <select
                class="form-control"
                formControlName="identificationType"
                id="identificationTypeInput"
              >
                <option
                  *ngFor="let identificationType of identificationTypes"
                  [ngValue]="identificationType"
                >
                  {{ identificationType.name }} ({{
                    identificationType.abbreviation
                  }})
                </option>
              </select>
            </div>
            <div
              class="spinner-border"
              *ngIf="loadingPrevious"
              role="status"
            ></div>
            <div class="md-form" *ngIf="!loadingPrevious">
              <label for="cityInput">Ciudad</label>
              <select
                class="form-control"
                formControlName="city"
                id="cityInput"
              >
                <option *ngFor="let city of cities" [ngValue]="city">
                  {{ city.name }} ({{ city.department.name }} -
                  {{ city.department.country.name }})
                </option>
              </select>
            </div>
            <div
              class="spinner-border"
              *ngIf="loadingPrevious"
              role="status"
            ></div>
            <div class="md-form" *ngIf="!loadingPrevious">
              <label for="legalRepresentativeInput">Representante legal</label>
              <select
                class="form-control"
                formControlName="legalRepresentative"
                id="legalRepresentativeInput"
              >
                <option
                  *ngFor="let legalRepresentative of legalRepresentatives"
                  [ngValue]="legalRepresentative"
                >
                  {{
                    "[" +
                      legalRepresentative.identificationType.abbreviation +
                      "] " +
                      legalRepresentative.identificationNumber
                  }}
                  - {{ legalRepresentative.fullName }}
                </option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="row text-center mt-3">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-primary mb-3"
            [disabled]="
              !(
                identificationNumber.valid &&
                (identificationNumber.dirty || identificationNumber.touched)
              )
            "
            (click)="submit()"
          >
            Guardar empresa
          </button>
        </div>
      </div>
      <div class="spinner-border" *ngIf="loadingSubmit" role="status"></div>
      <div class="alert alert-success" *ngIf="validSubmit" role="alert">
        Empresa creada con éxito
      </div>
      <div class="alert alert-danger" *ngIf="errorSubmit" role="alert">
        Ocurrió un error al crear esta empresa. Por favor compruebe los datos
        ingresados.
      </div>
    </div>
  </div>
</div>
