<button
  type="button"
  class="btn btn-secondary"
  data-toggle="collapse"
  data-target="#cityBody"
  (click)="reload()"
>
  Crear más ciudades
</button>
<div id="cityBody" class="collapse mt-3">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="cityForm" novalidate="novalidate">
        <div class="md-form">
          <label for="nameInput">Nombre de la ciudad</label>
          <input
            type="text"
            id="nameInput"
            class="form-control"
            formControlName="name"
            placeholder="Nombre de la ciudad"
          />
          <div
            class="invalid-feedback"
            *ngIf="name.invalid && (name.dirty || name.touched)"
          >
            Campo requerido
          </div>
          <div
            class="valid-feedback"
            *ngIf="name.valid && (name.dirty || name.touched)"
          >
            Correcto
          </div>
        </div>
        <div class="spinner-border" *ngIf="loadingPrevious" role="status"></div>
        <div class="md-form" *ngIf="!loadingPrevious">
          <label for="departmentInput">Departamento</label>
          <select
            class="form-control"
            formControlName="department"
            id="departmentInput"
          >
            <option *ngFor="let department of departments" [ngValue]="department">
              {{ department.name }} ({{ department.country.name }})
            </option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row text-center mt-3">
    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary mb-3"
        [disabled]="!(name.valid && (name.dirty || name.touched))"
        (click)="submit()"
      >
        Guardar ciudad
      </button>
    </div>
  </div>
  <div class="spinner-border" *ngIf="loadingSubmit" role="status"></div>
  <div class="alert alert-success" *ngIf="validSubmit" role="alert">
    Ciudad creada con éxito
  </div>
  <div class="alert alert-danger" *ngIf="errorSubmit" role="alert">
    Ocurrió un error al crear esta ciudad. Por favor compruebe los datos
    ingresados.
  </div>
</div>
